.quadrado {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.item1 {
    width: 135px;
    height: 135px;
    background-color: rgb(255, 0, 0);
    border-radius: 100px;
}
.item2 {
    width: 135px;
    height: 135px;
    background-color: rgb(255, 238, 0);
    border-radius: 100px;
}
.item3 {
    width: 135px;
    height: 135px;
    background-color: rgb(60, 189, 0);
    border-radius: 100px;
}