.quadrado {
    height: 400px;
    width: 150px;
    background-color: rgb(54, 54, 54);
    display: flex;
    margin: 220px auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    border-radius: 30px;
}

.item1 {
    width: 90px;
    height: 90px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    box-shadow: 0 0px 20px rgb(255, 41, 41);
}
.item2 {
    width: 90px;
    height:90px;
    background-color: rgb(255, 238, 0);
    border-radius: 50%;
    box-shadow: 0 0px 20px rgb(255, 232, 23);
}
.item3 {
    width: 90px;
    height: 90px;
    background-color: rgb(60, 189, 0);
    border-radius: 50%;
    box-shadow: 0 0px 20px rgb(99, 180, 75);
}